<!DOCTYPE html>
<html>
<head>
<title> Delta_FormsApp </title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
</head>
<body>

  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="sign-up">Sign-Up</a>
  <a href="sign-in">Sign-In</a>
  </div>

  <div class="wrapper">
      <div class="modal modal--congratulations">
          <div class="modal-top">

 <img class="modal-icon u-imgResponsive" src="https://www.joomlashack.com/images/showcase/shack-forms.png" alt="Welcome" />

<div class="modal-header">DELTA FORMS</div>
 <div class="modal-subheader">Delta Forms is a tool that allows collecting information from users via a personalized survey or quiz</div>
        </div>


 </div>
</div>
</div>

</body>
</html>
