<!DOCTYPE html>
<html>
<head>
<title> Delta_FormsApp </title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
</head>
<body>

  <div class="topnav">
  <a href="/">Home</a>
  <a href="sign-up">Sign-Up</a>
  <a class="active" href="sign-in">Sign-In</a>
</div>

  <div class="container">

    <h1>Sign-In</h1>

   <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar"></br></br>
   </div>
<form method="POST">
   <label for="uname"><b>Username</b></label>
     <input type="text" placeholder="Enter Username" name="username" required>

   <label for="psw"><b>Password</b></label>
     <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="button">Login</button>
</form>
   </div>


</body>
</html>
