<!DOCTYPE html>
<html>
<head>
<title> Delta_FormsApp </title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
</head>
<body>

  <div class="topnav">
  <a class=" active"href="welcome">Delta Forms</a>
  <a href="forms">Forms</a>
  </div>


     <div class="wrapper">
         <div class="modal modal--congratulations">
             <div class="modal-top">

    <img class="modal-icon u-imgResponsive" src="https://media.istockphoto.com/vectors/welcome-poster-with-brush-strokes-vector-id940891868?k=6&m=940891868&s=612x612&w=0&h=awJY_W7nGybC5pRtygpA3QBoNc2TSG4ZFKdGzMbQfUI=" alt="Welcome" />

   <div class="modal-header">Welcome</div>
    <div class="modal-subheader">You have successfully registered in Delta Forms.Delta Forms is a tool that allows collecting information from users via a personalized survey or quiz</div>
           </div>


    </div>
  </div>
</div>



</body>
</html>
